body {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #efefef;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
  }

.container {
    padding: 2rem;
}

.bloc-tabs {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 500px; */
    background: #e5e5e5;
    box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
  }

.tabs:not(:last-child) {
    border-right: 3px solid white
}

.active-tabs {
    background: white;
    border-bottom: 1px solid transparent;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    background: blue;
}

button {
    border: none;
}

.bottom-content-tabs {
    flex-grow : 1;
    height: 700px;
    width: 400px;
}

.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 500px;
    display: none;
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.active-content {
    display: block;
}