
.logo-conttainer {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 7rem;
}

.logo-text {
    z-index: 2;
    height: 75px;
}

.logo-circle {
    opacity: .8;
    z-index: 1;
    position: absolute;
    height: 200px;
    width: 400px;
    border-radius: 200%;
    background-color: #9e6999;
    margin-top: -3.5rem;
    margin-left: 15rem;
}